/* this file is used for labs on cognitiveclass.ai that were written in markdown */

/* applies to images, i.e. "![]()" in markdown */
img {
    max-width: 100%;
    height: auto;
}

/* add padding and margins */
body {
  padding: 10px;
  margin: 10px;
}

/* applies to tables, i.e. "|--|--|" in markdown */
table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* applies to using quotes, i.e. ">" in markdown */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 1em 10px .1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

/* the headers need some spacing */

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    padding-top: 20px;
}

/* applies to using codeblocks, i.e. "```" in markdown */
pre {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    background: #f6f8fa;
}

/* Add padding between nested list item */
ul > li > ul {
  padding-bottom: 1rem;
}
